<appSettings>
	<add key="webpages:Version" value="3.0.0.0" />
	<add key="FacebookAppId" value="707040733869040" />
	<add key="FacebookAppSecret" value="NOT HERE" />
	<add key="webpages:Enabled" value="false" />
	<add key="ClientValidationEnabled" value="true" />
	<add key="UnobtrusiveJavaScriptEnabled" value="true" />
</appSettings>