@model IEnumerable<Vidly2.Models.Movie>
@{
    ViewBag.Title = "Movies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movies</h2>

@if (Model.Count() == 0)
{
    <p>
        You have no Movies.
    </p>
}

else
{
    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th>Movie</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var custom in Model)
        {
            <tr>
                <td> @custom.Name</td>
            </tr>
        }
    
        </tbody>
    </table>
}

